article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
			* {
				box-sizing: border-box;
				}

            body { 
            	padding: 0px;
            	margin: 0px;
	            background-color: #000000;
	            font-family: 'Playfair Display';
				font-weight: 400;

				background-image: url(mask.jpeg);
				background-repeat: no-repeat;
				background-color:rgb(0.3); 
	        }
	        #container{ 
	        	padding:0px; 
	        	background-color: transparent;
	        	width: 800px;
	        	height: 1000px;
	        	margin: 0px auto;
	        	position: relative;
	        }

			header{
				padding: 10px; 
				background-color: transparent;
				font-family: 'Playfair Display';
				font-weight: 900;
				line-height: 0px;
				text-align: center;
				color: #178297;
				margin: 50px;
			} 

			header p{ 
	        	font-family: 'Playfair Display';
				font-weight: 700;
				font-size: 25px;
				margin: 10px 0px;
				line-height: 20px;
				letter-spacing: 6px;
			}
			header h1{
				font-family: 'Playfair Display';
				font-weight: 900;
				font-style: italic;
				font-size: 200px;
				line-height: 200px;
				letter-spacing: 3px;
				margin: 25px 0px 0px;
				padding: 0px;
			}
			header h2{
				font-family: 'Playfair Display';
				font-weight: 700;
				font-style: italic;
				font-size: 150px;
				line-height: 100px;
				letter-spacing: 17px;
				margin: 10px 0px 25px;
				padding: 0px;
				color: #178297;
			}

			nav{ 
				padding-top: 20px; 
				background-color: #000000;
				text-align: center;
				position: fixed;
				top:0px;
				left:0px;
				right:0px;
				z-index:500;
			}
			nav a{ 
				padding: 10px; 
				padding-left: 30px;
				padding-right: 30px;
				margin: 0px;
				background-color: transparent;
				text-decoration: none;
				color: #6c7070;
				line-height: 22px;
				letter-spacing: 2px;
				font-family: 'Playfair Display';
				font-weight: 700;
				display: inline-block;

			}
			nav a:hover {
				color: #939a9a;

			}
			nav a.selected {
				color: #737373;
				font-family: 'Playfair Display';
				font-weight: 900;
			}
			h1{ padding: 10px; }
			h2{ padding: 10px; }
			article{
				padding: 40px; 
				background-color: #ffffff;
				outline:solid 3px #1cd9bd;
				width: 65%;
				margin: 0px auto;
				line-height: 28px;
				font-family: 'Playfair Display';
				font-weight: 400;
			}
			article p{
				font-style: italic;
			}
			article h2{
				word-spacing: 8px;
				text-align: center;
				color: #000;
				margin: 0px;
				font-size: 30px;
				padding: 0px;
				line-height: 50px;
			}
			article h2 b{
				font-family: 'Playfair Display';
				font-weight: 700;
				font-style: oblique;
				font-size: 40px;
				color: #000000;
			}

			@media screen and (max-width: 1500px) {
				body{background-color: #000000;}
			}
			@media screen and (max-width: 1200px) {
				body{background-color: #000000;}
				#container {background-color: #000000;}
				header {background-color: transparent;}
				header,h1,h2 {background-color: transparent;}
				header h1{font-size: 160px;}
				header h2{font-size: 80px;}
				nav{background-color:#000; }
				nav a{ color: #474747; background-color:#000; }
				article h2{font-size: 34px; line-height: 30px;}

			}
			@media screen and (max-width: 700px) {
				body{background-color: #000000;}
				#container { background-color: #000000; width: 90%;}
				header{ padding-top: 80px;}
				header,h1,h2 {background-color: transparent;}
				header h1{font-size: 110px;}
				header h2{font-size: 60px;}
				nav{ display:none; }
				nav a{ color: #e6e6e6; background-color:#666666; padding-left: 60px; padding-right: 60px;}
				body footer{background-color: #000000;}
				article {background-color: #ffffff;}
				article h2{font-size: 28px; line-height: 36px;}

			}
			footer{ 
				padding-top: 102px;
				background-color: #000;
				color: #353535;
				text-align: center;
			}